body{
	padding-top: 70px;
	padding-bottom: 70px;
    background: #032b2F;
    color: #D0D3C5;
	
	font-family: 'Nunito', sans-serif !important;
}

.pointer{ cursor: pointer; }
.card-curved{ border-radius: 5px !important; }
.card-curved-lg{ border-radius: 20px !important; }

.card{
	padding: 5px;
	margin-bottom: 20px;
}

.container-footer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background-color: #494b5f;
}

.link-footer{ text-decoration: none; }
.color-root{ color: #D0D3C5 };


.bg-nav{ background-color: #d73a31 !important; }
.bg-card{ background-color: #08708a; }





.tooltip {
	position: relative;
	display: inline-block;
	opacity: 1 !important;
}
  
.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 1;
	transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
