body{
	padding-top: 70px;
	padding-bottom: 70px;
    background: #27293d;
    color: #9a9a9a;
	
	font-family: 'Nunito', sans-serif !important;
}

.card{
	padding: 5px;
	margin-bottom: 20px;
}


.container-footer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background-color: #494b5f;
}

.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover{ color: black;}

.bg-red{background-color: #b93731 !important;}
.bg-lightblue{background-color: #7CC0FF;}
.bg-lightblue2{background-color: #47b5d2;}
.bg-darkblue{background-color: #0E5EA9;}
.bg-lightgrey{background-color: #f1f1f1;}
.bg-darkkhaki{background-color: #BDB76B;}
.bg-chinapink{background-color: #DE6FA1;}
.bg-bole{background-color: #79443B;}
.bg-violet{background-color: #8F00FF;}
.bg-darkgreen{background-color: #2B4D59;}
.bg-greenblue{background-color: #39998E;}
.bg-yellowwhite{background-color: #FFDC7C;}
.bg-darkred{background-color: #540000;}A;}


.card-curved{border-radius: 5px !important;}
.card-curved-lg{border-radius: 20px !important;}
.pointer{cursor: pointer;}