body{
	padding-top: 70px;
	padding-bottom: 70px;
    background: #27293d;
    color: #9a9a9a;
	
	font-family: 'Nunito', sans-serif !important;
}

.card{
	padding: 5px;
	margin-bottom: 20px;
}


.container-footer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background-color: #494b5f;
}

.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover{ color: black;}